<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div id="mainContainer">
      <h1>Lets find something for you to do ✌🏻</h1>
      <div>
        <form action="/" method="POST">
          <select name="type" id="type">
            <option value="">Select type</option>
            <option value="education">Education</option>
            <option value="recreational">Recreational</option>
            <option value="social">Social</option>
            <option value="charity">Charity</option>
            <option value="cooking">Cooking</option>
            <option value="relaxation">Relaxation</option>
            <option value="busywork">Busywork</option>
          </select>
          <select name="participants" id="participants">
            <option value="">Select participants</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="8">8</option>
          </select>
          <button type="submit">GO</button>
        </form>
      </div>
      <div>
        <br />
        <%if (locals.data) {%>
        <div class="activity"><%=data.activity%></div>
        <div class="dataselected"> <span><%=data.type %></span> <span><%=data.participants %></span></div>
        <%}%> <%if (locals.error) {%>
        <div class="error"><%=error %></div>
        <%}%>
      </div>
    </div>
  </body>
</html>
